.shop-container{
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-gap: 4px;
   margin-left: 20px;
   margin-bottom: 20px;
}
.products-container{
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap: 10px;
}
.cart-container{
   background-color: rgb(224, 215, 215);
   padding: 10px;
   margin-left: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .shop-container{
   display: flex;
   flex-direction: column;
}
   .cart-container{
      order: 1;
      margin-right: 20px;
   }
   .products-container{
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   order: 2;
   margin-right: 20px;
}
.product img{
   height: 270px;
   width:100%;
   border-radius: 5px;
   margin-bottom: 5px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.products-container{
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-row-gap: 10px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.products-container{
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap: 10px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .products-container{
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-row-gap: 10px;
}
}
